.Modal {
  background-color: rgba(40, 40, 40, .8);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--zIndex-modal);
}

.Modal-content {
  position: relative;
  width:400px;
  height: 400px;
  background-color: var(--theme-background);
  padding: 10px 20px;
  margin: 10vh auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-content button{
  display: block;
  margin-bottom: 16px;
  margin-right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  justify-self: right;
  align-self: flex-end;
}
