.Form-login-register {
  width: 100%;
  max-width: 320px;
}

.Form-login-register label {
  display: block;
  margin-bottom: 4px;
}

.form-error{
  color: red;
  font-size: 12px;
  margin-top: -4px;
  display: block;
}

.Form-login-register input {
  background: #fff;
  border: none;
  width: 100%;
  display: block;
  line-height: 2;
  font-size: 16px;
  padding: 0 8px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.Form-login-register input.error {
  border: 1px solid red;
}

.Form-login-register button {
  width: 100%;
}
