.App {
  text-align: center;
}

.App-content {
  background-color: var(--theme-background);
  color: var(--theme-title);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.App-logo {
  margin: 0 auto;
  width: 250px;
  object-fit: cover;
}

.App-title {
  color: var(--theme-title);
  margin-top: .8rem 0;
  text-transform: capitalize;
}

.App-searchFormContainer {
  display: flex;
  align-items: center;
  height: 2em;
  background-color: inherit;
  position: sticky;
  top: -1px;
  z-index: var(--zIndex-header);

}
.App-wrapper {
  width: 100%;
  max-width: var(--app-maxWith);
  margin: 0 auto;
  padding: 0 0.5em;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 55rem){
  .App-main{
    flex-direction: initial;
  }

  .App-category{
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}

.button {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  background-color: var(--theme-button);
  color: var(--theme-button--text);
  cursor: pointer;
  font-size: 1rem;
}

.button:hover  {
  background-color: var(--theme-hover);
}

.Error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.Error-code {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
}

.Error-msg {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.Error-gif {
  margin: 1rem auto;
  width: 250px;
  height: 250px;
}
